<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
      <a class="navbar-brand" href="/">Restaurant List</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/restaurants/new">Add Restaurant</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {{!-- partial templates --}}
  {{{ body }}}


  {{!-- include javascripts --}}
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/jquery-3.6.0.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>