<div class="container my-4">
  <form action="/restaurants" method="POST">
    <div class="form-group">
      <label for="id">*編號ID</label>
      <input type="number" class="form-control" id="id" name="id" required readonly>
    </div>
    <div class="form-group">
      <label for="name">*店名Name</label>
      <input type="text" class="form-control" id="Name" name="name" placeholder="ex: 日出早午餐中和店" required>
    </div>
    <div class="form-group">
      <label for="name_en">英文店名Name_en</label>
      <input type="text" class="form-control" id="Name_en" name="Name_en" placeholder="ex: sun rise brunch">
    </div>
    <div class="form-group">
      <label for="category">*分類Category</label>
      <input list="categorys" class="form-control" name="category" id="category" required>
      <datalist id="categorys">
        <option>中東料理</option>
        <option>台式料理</option>
        <option>日本料理</option>
        <option>美式早午餐</option>
        <option>早午餐</option>
        <option>韓式料理</option>
        <option>義式餐廳</option>
        <option>咖啡</option>
        <option>酒吧</option>
      </datalist>
    </div>
    <div class="form-group">
      <label for="image">圖片連結Image</label>
      <input type="url" class="form-control" id="image" name="image" placeholder="請輸入圖片連結 https://...">
    </div>
    <div class="form-group">
      <label for="location">*地址Location</label>
      <input type="text" class="form-control" id="location" name="location" placeholder="地址" required>
    </div>
    <div class="form-group">
      <label for="phone">*電話Phone</label>
      <input type="text" class="form-control" id="phone" name="phone" required>
    </div>
    <div class="form-group">
      <label for="google_map">地圖連結Google_map</label>
      <input type="url" class="form-control" id="google_map" name="google_map">
    </div>
    <div class="form-group">
      <label for="rating">評分Rating</label>
      <input type="number" class="form-control" id="rating" name="rating" step="0.1" min="0" max="5"
        placeholder="0.0至5.0分內">
    </div>
    <div class="form-group">
      <label for="description">*簡介Description</label>
      <textarea type="text" class="form-control" id="description" name="description" placeholder="請簡單介紹餐廳"
        required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">新增</button>
  </form>
</div>